.row {
  max-width: $grid-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;


  @include respond(tab-port) {
    
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@include respond(phone) {
  margin-left: 10rem;
  
}

}

.row-2{
  display: flex;
  
  margin-top: 8rem;
  // border: 1px  solid black;
  
}
.col-1{
  max-width: 60vw;
  padding-right: 10rem;
  padding-left: 10rem;
  
  
}