.feature-box{
background-color: rgb($color-white,.8);
padding: 1rem;
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: space-evenly;
 max-width: 25rem;
 height: auto;


&:hover{
  transform:translateY(-5rem);
  transition:  .2s ease-in;
  
  
}




&__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
  }
  @include respond(tab-port){
    margin-bottom: 0;
  }
  &__text{
 font-size: $default-font-size;
 margin-left: 2rem;
 
  }
  
@include respond(tab-land) {
  min-width: 20rem;
  
  margin-right: 5rem;

}
  @include respond(tab-port) {
    min-width:50rem;
    
     margin-bottom: 5rem;

}

@include respond(phone) {
  min-width: 60vw;
  margin-bottom: 3rem;

}


}