.feature-box{
background-color: rgb($color-white,.8);
padding: 1rem;
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: space-evenly;
 max-width: 25rem;
 height: auto;


&:hover{
  animation-name: moveInHover;
  animation-duration: .5s;
  
}




&__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
  }
  @include respond(tab-port){
    margin-bottom: 0;
  }
  &__text{
 font-size: $default-font-size;
 margin-left: 2rem;
 
  }
  @include respond(phone) {
    min-width: 80vw;
    height: auto;
    margin-bottom: 5rem;

}
  @include respond(tab-port) {
    width: 25%;
    height: auto;
    // margin-bottom: 5rem;

}

@include respond(tab-land) {
  max-width: 25rem;
  height: auto;
  margin-right: 10rem;

}


}