.feature-box{
background-color: rgb($color-white,.8);
display: flex;
flex-flow: column nowrap;
align-items: center;

max-width: 22rem;
height: 30rem;
padding-left: 1rem;

&:hover{
  animation-name: moveInHover;
  animation-duration: 1s;
}




&__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
  }
  @include respond(tab-port){
    margin-bottom: 0;
  }
  &__text{
 font-size: $default-font-size;
  }

}