.btn-text {
    color:$color-primary;
    font-size: $default-font-size;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary-dark;
    
    
     &:hover &:active &:visited{
        color:$color-white;
        background-color: $color-primary;
    }

    &{
        @include respond(tab-port){
            
            
            margin-bottom: 5rem;
            
          }
    }
   
}
