.section-about {
    
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -20vh;
    
    @include respond(tab-port) {
        padding: 20rem 0;

    }
      
    &_composition{
        position: relative;
        margin-right: 60rem;
        
       

      }
    
    &_img-1{
        position: absolute;
        margin-top: 0;
        margin-left: 0;
        
    }
    
        
        
    
    &_img-2{
        position: absolute;
        margin-top: 3rem;
        margin-left: 25rem;
        
        @include respond(tab-port){
            margin-top: 0;
            margin-left: 25rem;
        }

        @include respond(phone){
            margin-top: 0;
            margin-left: 20rem;
        }
        
    }
    
    &_img-3{
        position: absolute;
        margin-top: 10rem;
        margin-left: 10rem;
        margin-right: 10rem;

        @include respond(tab-port){
            margin-top: -2rem;
             margin-left: 10rem;
        }
    }
    &_img{
        outline-offset: 2rem;
        border-radius: 2rem;
    }
    &_img:hover{
        
        outline: 1.5rem solid $color-primary;
         z-index: 10;
         transform: scale(1.1);
         transition: .2s;
         
        
      }


    
    
      }
     
     
   
              
        
    



.section-features {
    
    padding: 20rem 0;
     background-image:linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
    

   
    @include respond(tab-port) {
        padding: 10rem 0;
        
    }

}
